* {
    margin: 0;
    padding: 0;
}
/* TODO - ROBOTO */
@font-face {
    font-family: 'RtI';
    src: url('../assets/fonts/Roboto-ThinItalic.ttf');
}
@font-face {
    font-family: 'RtB';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RtBl';
    src: url('../assets/fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'RtM';
    src: url('../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'RtR';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}
/* TODO - FIRACODE */
@font-face {
    font-family: 'FcSB';
    src: url('../assets/fonts/FiraCode-SemiBold.ttf');
}
@font-face {
    font-family: 'FcR';
    src: url('../assets/fonts/FiraCode-Regular.ttf');
}
@font-face {
    font-family: 'FcL';
    src: url('../assets/fonts/FiraCode-Light.ttf');
}
/* ! SOURCE CODE PRO */
@font-face {
    font-family: source-code-pro;
    src: url('../assets/fonts/SourceCodePro-Regular.ttf');
}
.warning-box {
    color: #ffeeb9;
    font-family: 'RtI';
    text-align: center;
}
.d3-button {
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    transition: all 0s ease-out;
    height: 25px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 8px 15px 4px;
    position: relative;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.d3-button:active {
    top: 3px;
}
.o1 {
    color: #ffffff;
    background-color: #161e2e;
    padding-top: 2rem;
    font-family: 'RtR';
    text-align: justify;
    padding-bottom: 2rem;
}
br {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content {
    margin-right: 10%;
    margin-left: 10%;
    line-height: 1.15;
    text-align: left;
}
.center {
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .content {
        margin-right: 3%;
        margin-left: 3%;
    }
}
.content2 {
    color: #d2d6dc;
    line-height: 2rem;
    font-size: 1.25rem;
}
.content3 {
    color: #9fa6b2;
    line-height: 1.75rem;
    font-size: 1.15rem
}
.o2 {
    color: #ffffff;
    background-color: #252f3f;
    padding-top: 2rem;
    font-family: 'RtR';
    text-align: justify;
    padding-bottom: 2rem;
}
.undr-fa {
    margin-top: 35px;
}
.mouse-pointer {
    cursor: pointer;
}
.when-hover:hover {
    color: #7ed1cb;
    transition-duration: 0.25s;
}
.when-hover {
    transition-duration: 0.25s;
}
.message {
    padding: 1em 1em 1em 1.5em;
    border-left-width: 6px;
    border-left-style: solid;
    border-radius: 3px;
    position: relative;
    line-height: 1.5;
    margin-bottom: 2em
}
.message + .message {
  margin-top: 2em;
}
.message:before {
  color: white;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 1em;
  left: -3px;
  border-radius: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.message p {
  margin: 0 0 1em;
}
.message p:last-child {
  margin-bottom: 0;
}

.message--error {
  border-left-color: firebrick;
  background-color: #f2dede;
  color: #a94942
}
.message--error:before {
  background-color: firebrick;
  content: "!!";
}

.message--warning {
  border-left-color: darkorange;
  color: rgba(138, 109, 59, 1);
  background-color: rgba(252, 248, 227, 1);
}
.message--warning:before {
  background-color: darkorange;
  content: "!";
}

.message--success {
  border-left-color: darkolivegreen;
}
.message--success:before {
    background-color: darkolivegreen;
    content: "✔";
}
/*# sourceMappingURL=base1.css.map */
