@font-face {
    font-family: 'Lato';
    src: url('../fonts/Flat-UI-Icons-16.ttf');
}
p {
    margin: 0 0 10px;
}
a:hover {
    text-decoration-line: none !important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.jumbotron {
    user-select: none;
    margin-top: 0;
}
.horizon-title {
    font-size: 75px;
    color: #34495E;
    line-height: 1.4;
}
.horizon-subtitle {
    font-size: 25px;
    line-height: 0.7;
    color: #95A5A6;
}
.demo-logo {
    margin-top: 33px;
    text-align: center;
}
.logo {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
.text-largest {
    font-size: xx-large;
}
.text-larger {
    font-size: larger;
}
.text-large {
    font-size: large;
}
.status {
    text-decoration: dotted underline;
}
.whitelisted {
    text-decoration: dotted underline;
}
.button {
    background-color: #34495e;
    color: white;
    font-size: 16.5px;
    user-select: none;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    text-align: center;
    transition: 0.25s;
}
.button:hover {
    text-decoration-line: none;
    color: white;
}
.button:active {
    color: rgba(255, 255, 255, 0.75);
}
.button.button-large {
    border: none;
    display: inline-block;
    padding-bottom: 12px;
    padding-top: 13px;
}
.button-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.button.button-block {
    display: block;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button.button-primary {
    background-color: #1abc9c; }
    .button.button-primary:hover, .button.button-primary:focus {
      background-color: #2fe2bf; }
    .button.button-primary:active, .button.button-primary.active {
      background-color: #16a085; }
.links {
    font-size: 30px;
    font-family: monospace;
}
.tile {
    background-color: #e8edf2;
    border-radius: 6px;
    padding: 14px;
    position: relative;
    text-align: center;
    margin-bottom: 33px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tile-image.big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 112px;
    user-select: none;
}
.tile-image {
    height: 100px;
    margin: 31px 0 27px;
    vertical-align: bottom;
    user-select: none;
}
.tile p {
    font-size: 18px;
    margin-bottom: 33px;
    color: #34495E;
    margin-left: 15%;
    margin-right: 15%;
}
.tile h3 {
    color: #34495e;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
}
body {
    color: #34495E;
    font: 14px/1.231 'Lato', sans-serif !important;
}
.tile h3 {
    font-size: 22px;
}
.tile h3 {
    line-height: 40px;
}
.copyright {
    color: #bdc1c5;
    font-family: 'Lato', sans-serif

}
.copyright h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
}
.copyright p {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
}
.copyright hr {
    width: 50%;
}
.copyright h6 {
    font-size: 12px;
    font-weight: 700;
    padding-top: 20px;
}
.copyright a {
    color: #a1a4a7;
    transition: 0.25s;
    font-weight: 700;
}
.copyright a:hover {
    color: #2ecc71 !important;
}
.demo-image {
    width: 350px;
    height: 350px;
}
img {
    user-select: none;
}
.exp h3 {
    font-size: 45px;
    color: #2C3E50;
}
.exp p {
    font-size: large;
    color: #34495E;
    font-family: Arial, Helvetica, sans-serif;
}
.demo-invite {
    color: #34495E;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.demo-invite li a, .remodal a {
    color: #1abc9c;
    text-decoration: underline;
}
.demo-invite li a:hover, .remodal a:hover {
    color: #1abc9c;
    text-decoration: none;
}
.demo-invite {
    margin-left: 20px;
    margin-right: 20px;
}
.remodal img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 100%;
}
.others {
    margin-bottom: 33px;
}
.button.button-info {
    background-color: #3498db; }
    .button.button-info:hover, .button.button-info:focus {
    background-color: #5dade2; }
    .button.button-info:active, .button.button-info.active {
    background-color: #2383c4; }

#modalDesc p {
    font-size: 16px;
}
.ep {
    margin-bottom: 55px;
}
.demo-title-bg {
    background-image: url(../assets/img/1811.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.demo-title-bg hr {
    border-color: white;
    width: 50%;
}
.button-xlarge {
    font-size: x-large;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 75%;
}
@media screen and (min-width: 992px) {
    .button-xlarge {
        width: 35%;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .tile {
        margin-left: 10%;
        margin-right: 10%;
    }
    .ribbon {
        position: absolute;
        z-index: 1; 
        top: -4px;
        right: 30%;
        user-select: none;
    }
}
    .ribbon {
        position: absolute;
        top: -4px;
        right: 11%;
        z-index: 1;
        user-select: none;
    }

@media screen and (min-width: 992px) {
    .ribbon {
        position: absolute;
        z-index: 1; 
        top: -4px;
        right: 10px;
        user-select: none;
    }
}
@media screen and (max-width: 768px) {
.ribbon {
    position: absolute;
    z-index: 1;
    top: -4px;
    right: 10px;
    user-select: none;
}
}
ul.breadcrumbed {
    text-align: left;
    position: absolute;
    top: 15px;
    left: 15px;
    list-style: none;
    background-color: transparent;
    color: white;
  }
  ul.breadcrumbed li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumbed li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }
  ul.breadcrumbed li a {
    color: #1abc9c;
  }
  ul.breadcrumbed li a:hover {
      color: #16a085;
  }
.tile:hover {
    transform: translateY(-5%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.ribbon {
    transition: 0.2s;
}
